# This is the complex Travis configuration, which is intended for use
# on open source libraries which need compatibility across multiple GHC
# versions, must work with cabal-install, and should be
# cross-platform. For more information and other options, see:
#
# https://docs.haskellstack.org/en/stable/travis_ci/
#
# Copy these contents into the root directory of your Github project in a file
# named .travis.yml

# Use new container infrastructure to enable caching
sudo: false

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal
  - $HOME/.stack
  - $TRAVIS_BUILD_DIR/.stack-work

# The different configurations we want to test. We have BUILD=cabal which uses
# cabal-install, and BUILD=stack which uses Stack. More documentation on each
# of those below.
#
# We set the compiler values here to tell Travis to use a different
# cache file per set of arguments.
#
# If you need to have different apt packages for each combination in the
# matrix, you can use a line such as:
#     addons: {apt: {packages: [libfcgi-dev,libgmp-dev]}}
matrix:
  include:
  # The Stack builds. We can pass in arbitrary Stack arguments via the ARGS
  # variable, such as using --stack-yaml to point to a different file.
  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.4.yaml"
    compiler: ": #stack 8.4.4"
    addons: {apt: {packages: [libgmp-dev]}}

  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.6.yaml"
    compiler: ": #stack 8.6.5"
    addons: {apt: {packages: [libgmp-dev]}}

  # Nightly builds are allowed to fail
  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.6.yaml --resolver nightly"
    compiler: ": #stack nightly"
    addons: {apt: {packages: [libgmp-dev]}}

  # Build on macOS in addition to Linux
  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.4.yaml"
    compiler: ": #stack 8.4.4 osx"
    os: osx

  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.6.yaml"
    compiler: ": #stack 8.6.5 osx"
    os: osx

  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.6.yaml --resolver nightly"
    compiler: ": #stack nightly osx"
    os: osx

  allow_failures:
  - env: BUILD=stack ARGS="--stack-yaml stack-ghc-8.6.yaml --resolver nightly"

before_install:
# Using compiler above sets CC to an invalid value, so unset it
- unset CC

# We want to always allow newer versions of packages when building on GHC HEAD
- CABALARGS=""
- if [ "x$GHCVER" = "xhead" ]; then CABALARGS=--allow-newer; fi

# Download and unpack the stack executable
- export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$HOME/.local/bin:$HOME/.cabal/bin:$PATH
- mkdir -p ~/.local/bin
- |
  if [ `uname` = "Darwin" ]
  then
    travis_retry curl --insecure -L https://get.haskellstack.org/stable/osx-x86_64.tar.gz | tar xz --strip-components=1 --include '*/stack' -C ~/.local/bin
  else
    travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  fi

  # Use the more reliable S3 mirror of Hackage
  mkdir -p $HOME/.cabal
  echo 'remote-repo: hackage.haskell.org:http://hackage.fpcomplete.com/' > $HOME/.cabal/config
  echo 'remote-repo-cache: $HOME/.cabal/packages' >> $HOME/.cabal/config


install:
- echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
- if [ -f configure.ac ]; then autoreconf -i; fi
- |
  set -ex
  # Add in extra-deps for older snapshots, as necessary
  #
  # This is disabled by default, as relying on the solver like this can
  # make builds unreliable. Instead, if you have this situation, it's
  # recommended that you maintain multiple stack-lts-X.yaml files.

  #stack --no-terminal --install-ghc $ARGS test --dry-run || ( \
  #  stack --no-terminal $ARGS build cabal-install && \
  #  stack --no-terminal $ARGS solver --update-config)

  # Build the dependencies
  stack --no-terminal --install-ghc $ARGS test --only-dependencies
  set +ex

script:
- |
  set -ex
  stack --no-terminal $ARGS build --haddock --no-haddock-deps postgresql-pure:lib
  stack --no-terminal $ARGS build --no-run-tests              postgresql-pure:test:doctest
  stack --no-terminal $ARGS build --no-run-tests              postgresql-pure:test:hdbc-postgresql
  stack --no-terminal $ARGS build --no-run-tests              postgresql-pure:test:original
  stack --no-terminal $ARGS build --no-run-benchmarks         postgresql-pure:bench:requests-per-second
  # needs a PostgreSQL server on compilation
  #   - postgresql-pure:test:relational-record
  #   - postgresql-pure:bench:requests-per-second-constant
  set +ex
